@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #696565;
    margin: auto;
    text-decoration: none;
    background-color: #337ab715;
}


h2 {
    margin-top: 4vw;
    font-weight: bold;
    text-align: center;
    font-size:3em;
}

.formulario {
    width: 100%;
    margin-top: 3vw;
}

label {
    font-weight: bold;
}

input {
    border-radius: 1vw !important;
}

select {
    border-radius: 1vw !important;
}

textarea {
    border-radius: 1vw !important;
    min-height: 30vh;
    max-height: 30vh;
}


#add {
    background: #FF9CC0;
    color: #fff;
    border-radius: 0.5vw;
    margin-right:3vw;
}

#del {
    background: #FF9CC0;
    color: #fff;
    border-radius: 0.5vw;
    margin-left: 3vw;
}

#cad {
    background: #F448B0;
    color: #fff;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    margin-top: 1vw;
}

    #cad:hover {
        background: #F448B0;
        color: #fff;
        text-decoration:none;
    }
a{
    text-decoration:none;
}

.col-md-10 {
    max-width: 100%;
}

.container {
    width: 40%;
}

input[type=checkbox] {
    height: 32px;
}