@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 40px;
}

.content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

    .bar:hover {
        background-color: #fff;
    }

input {
    display: none;
}

.slides {
    display: flex;
    width: 200vw;
    height: 100%;
    object-fit: fill;
}

.slide {
    width: 100vw;
    transition: .6s;
}

    .slide img {
        width: 100vw;
        height: 100%;
    }

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -50%;
}

.irLivros {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
    background-color: #E25D5D;
    color: white;
    border-radius: 10vh;
    border-width: 0px;
    padding: 1.2vw;
    z-index: 10;
    position: absolute;
    top: 75vh;
    left: 60vh;
} 
