@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: #696565;
    margin: auto;
    text-decoration: none;
}

img {
    width: 19vw;
    border-radius: 1.5vw;
    display: flex;
}

.image {
    width: 19vw;
    display: flex;
    margin-top: 5vw;
    margin-left: 20vw;
}

.content {
    width: 20vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20vw;
    margin-top: -25vw;
    margin-bottom: 20vw;
    float: right;
    word-wrap: break-word;
}

h1 {
    word-wrap: break-word;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 3em;
    margin-top: 3vw;
    color: rgb(62, 62, 209);
}

button {
    color: #fff;
    background: #F448B0;
    font-size: 1.5em;
    border: none;
    border-radius: 1.5vw;
    margin-top: 9vw;
}

    button:hover {
        color: rgb(202, 195, 195);
        transition: 0.5s;
    }

.rest {
    margin: 10vw;
}

p {
    font-size: 3em;
}

h3 {
    font-weight: 300;
    text-align: justify;
}

table {
    width: 40vw;
}

tr {
    font-size: 1.5em;
    font-weight: 300;
    color: #888585;
}
