<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h1>Erro.</h1>
        <h2>Essa página está desativada.</h2>
    </hgroup>
</body>
</html>

<style>
    hgroup {
        text-align: center;
    }
    a, a:visited {
        color: black;
    }
</style>