@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    color:#696565;
    font-family: 'Roboto', sans-serif ;
}

.container{
    margin-top: 10vh;
    width:90%;
    height: 90%;
    border: 3px solid #C8C8C8;
    border-radius: 50px;
    display: flex;
    padding: 2vw;
}  

.btn{
    background: #F448B0;
}