@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
html{
    font-family: 'Roboto', sans-serif !important;
    font-size: 40px;
}
.busca{
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.btnbusca {
    background: #F448B0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}
input, input::placeholder {
    font: 20px/3 sans-serif;
}
.barra{
    width: 768px;
    height: 57px;
    left: 283px;
    top: 166px;
    border-radius: 78px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
