@{
    ViewBag.Title = "Contato";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @Styles.Render("~/Content/contato.css")
</head>
<body>
    <h1>Contate-nos</h1>

    <form>
        <div class="nome1">
            <label for="Nome">Nome:</label>
            <input type="text" id="Nome" />
        </div>

        <div class="email1">
            <label for="Email">E-mail:</label>
            <input type="email" id="email" />
        </div>

        <div class="msg">
            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem">&nbsp</textarea>
        </div>

        <div class="botao">
            <button class="boot" type="submit">Enviar</button>
        </div>
    </form>

    <div class="info">
        <h2>Para mais informações:</h2><br>
        <h4>(11) xxxxx-xxxx</h4>
        <h4>Email: contato@springlibrary.com.br</h4>
    </div>
</body>
</html>