@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @Styles.Render("~/Content/about.css")
    <div class="content">
        <!--historia da empresa-->
        <div class="Historia">
            <div class="textohist">
                <h1>Nossa História</h1>
            </div>
            <h4>
                <p>
                    Fundada em 2008, por Rodolfo Lauber e Ana Magalhães, a livraria Spring Library
                    enfrentou uma crise econômica e social, começou como um pequeno negócio, com
                    poucos clientes, picos e vales e com muitas contas a pagar. A livraria passou por
                    situações em que por pouco fechariam o seu negócio de vez ou se permaneceriam
                    aberto. Fora após 2010 que tudo começou a mudar, crescendo gradativamente até se
                    tornar o que é hoje.
                </p>
            </h4><br><br>
        </div>
        <!--local onde se acomoda a empresa-->
        <h2>Nossa Loja</h2><br>
        <table>
            <tr>
                <td>
                    <div class="Mapa">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14633.299089757642!2d-46.7277865!3d-23.5208186!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef8c1d371ec31%3A0x671c9325c275132e!2sETEC%20Prof%20Basilides%20de%20Godoy!5e0!3m2!1spt-BR!2sbr!4v1666882053070!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </td>
                <td>
                    <div class="textoMap">
                        <h4>
                            Rua Guaipá, 678<br>
                            Vila Leopoldina<br>
                            São Paulo, São Paulo - 05089-000<br><br>

                            Horários:<br>
                            Segunda a Sexta 9h - 22h<br>
                            Sábado e Domingo 10h - 20h<br><br>

                            Telefone: (11) 99999-9999
                        </h4>
                    </div>
                </td>
            </tr>
        </table>
    </div>
